<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{request.route_url('home')}}static/calendar-flat.png">

  <title>{{page_title}} - Haemera</title>

  {% for name in [
        'bootstrap-material-design-4.1.1.min',
        'roboto',
        'material-icons',
        'style',
        ] %}
    <link rel="stylesheet" href="{{request.route_url('home')}}static/css/{{name}}.css">
  {% endfor %}
  <link rel="stylesheet" href="{{request.route_url('topic_css')}}">

  <script src="{{request.route_url('home')}}static/js/vue-2.5.21.min.js"></script>
</head>
<body>

{# XXX I would like to use numbers, but they don't work in Chrome. #}
{% set ACCESSKEYS = {
   'todo': 'q',
   'work': 'w',
   'waiting': 'e',
   'scheduled': 'r'
}%}

<ul id="nav" class="nav nav-tabs bg-primary">
  {% for query in request.registry.settings.listing_queries %}
  <li class="nav-item">
    <a class="nav-link {{'active' if request.matchdict.get('query') == query else ''}}"
       {% if ACCESSKEYS[query] %}accesskey="{{ACCESSKEYS[query]}}"{% endif %}
       href="{{request.route_url('action_list', query=query)}}">
      {{query | title}}</a>
  </li>
  {% endfor %}
  <li class="nav-item"><a class="nav-link {{'active' if request.matched_route.name == 'project' else ''}}" accesskey="t" href="{{request.route_url('project', project='root')}}">Projects</a></li>
  {% if request.matched_route.name in ['action_list', 'project_actions', 'project'] %}
  <li class="nav-item"><a class="nav-link" href="#" onclick="haemera.ListingController.create(); return false;">Add</a></li>
  <li class="nav-item"><a class="nav-link" href="#" onclick="haemera.ListingController.remove(); return false;">Del</a></li>
  <li class="nav-item"><a class="nav-link" href="#" onclick="haemera.ListingController.persist(); return false;">Save</a></li>
  {% endif %}
</ul>

{% block body %}
{% endblock %}

</body>
</html>
