<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}}</title>

  {% for name in [
        'bootstrap-material-design-4.1.1.min',
        'roboto',
        'material-icons',
        'style',
        ] %}
    <link rel="stylesheet" href="{{request.route_url('home')}}static/css/{{name}}.css">
  {% endfor %}

  <script src="{{request.route_url('home')}}static/js/vue-2.5.21.min.js"></script>
</head>
<body>

<ul id="nav" class="nav nav-tabs bg-primary">
  {% for query in request.registry.settings.listing_queries %}
  <li class="nav-item">
    <a class="nav-link {{'active' if request.matchdict.get('query') == query else ''}}"
       href="{{request.route_url('listing', query=query)}}">
      {{query | title}}</a>
  </li>
  {% endfor %}
  <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
  <li class="nav-item"><a class="nav-link" href="#" onclick="haemera.ListingController.persist(); return false;">Save</a></li>
</ul>

{% block body %}
{% endblock %}

</body>
</html>
