{% set page_title = "Projects" %}
{% extends "templates/layout.html" %}

{% block body %}
<div class="container-fluid">

<h3 class="topic-{{project.topic}}">{{project.subject}}

<a class="btn btn-secondary"
   href="{{request.route_url('project', project=project.id,
         _query={'done': 'true'} if not request.params.get('done') else None)}}">
{% if request.params['done'] %}
  Hide done
{% else %}
  Show done
{% endif %}
</a>

{% if project.id != 'root' %}
<a href="{{request.route_url('project_edit', project=project.id)}}"
   class="btn btn-primary">Edit
</a>
{% else %}
<a href="{{request.route_url('project_new')}}"
   class="btn btn-primary">New Project
</a>
{% endif %}
</h3>

{% for child in children %}
<div>
  <a href="{{request.route_url('project', project=child.id)}}"
     class="topic-{{child.topic}}">
    {{child.subject | replace(project.subject ~ '|', '')}}
  </a>
</div>
{% endfor %}

{% if project.body %}
<pre>
{{project.body}}
</pre>
{% endif %}

{% if project.id != 'root' %}
{% if actions %}
<h4>Actions
  <span id="toggle-done-actions"></span>
</h4>
{% endif %}
<script id="template-toggle-done-actions" type="x-template">
<button class="btn btn-secondary" id="toggle-done-actions" v-on:click="toggle">
  {{'{{'}}context.show_done ? 'Hide done' : 'Show done'{{'}}'}}
</button>
</script>

{% include "templates/listing.html" %}
{% endif %}

</div>

{% endblock %}
