table.listing {
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
}

#detail {
    margin-top: 2em;
}


.topic-none {
    color: #363636;
}
.topic-computer {
    color: #990099;
}
.topic-datenschutz {
    color: #999900;
}
.topic-freunde {
    color: #CC0000;
}
.topic-jobsuche {
    color: #663300;
}
.topic-musik {
    color: #CC6600;
}
.topic-oss {
    color: #6666FF;
}
.topic-swe {
    color: #009900;
}
.topic-team {
    color: #3333FF;
}
.topic-tools {
    color: #330099;
}
.topic-wohnung {
    color: #CC9900;
}
.topic-work {
    color: #006699;
}
