table.listing {
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
}

#detail {
    margin-top: 2em;
}


.status-done {
    text-decoration: line-through;
}


@media (min-width: 576px) {
.form-inline label {
    margin-right: 0.5em;
}

.form-inline .form-control {
    margin-right: 0.5em;
}
}
